section.algorithmic-solidarity {
  margin-top: 2rem !important;

  width: 60%;
  margin-left: auto !important;
  margin-right: auto !important;
  display: flex;
  flex-direction: column;

  color: black;

  a {
    letter-spacing: normal;
    color: blue;
    text-decoration: underline;
    text-decoration-color: red;
    text-decoration-thickness: 4px;

    &:hover {
      color: red;
      text-decoration-color: blue;
    }

  }

  ul {
    list-style: none;

    li:before {
      content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
      color: red; /* Change the color */
      font-weight: bold; /* If you want it to be bold */
      display: inline-block; /* Needed to add space between the bullet and the text */
      width: 1em; /* Also needed for space (tweak if needed) */
      margin-left: -1em; /* Also needed for space (tweak if needed) */
    }
  }

  figure img {
    width: 100%;
  }

}
