@mixin flow-block-figure($width, $height) {
  figure {
    img {
      width: 100%;
      height: auto;

      @include breakpoint(large) {
        width: $width;
        height: $height;        
      }
    }
  }
}


@mixin flow-block() {
  color: white;


  // @extend .grid-x;
  // @extend .grid-margin-x;

  // padding-top: 1rem;
  // padding-bottom: 1rem;

  &.black {
    background-color: black;

    a {
      color: lime;
    }
  }

  &.lime {
    background-color: limegreen;
  }

  &.white {
    background-color: white;
    color: black;
  }

  &.blue {
    background-color: blue;
  }

  &.silver {
    background-color: silver;
    color: black;

    a {
      color: red;      
    }
  }

  &.red {
    background-color: red;
  }
  
  h1 {
    @include breakpoint(medium) {
      font-size: 2rem;        
    }
  }      
}

@mixin text-large {
  font-size: large;
  line-height: 1.3;  
}

@mixin text-x-large {
  font-size: x-large;
  line-height: 1.4;
}

@mixin text-xx-large {
  font-size: xx-large;
  line-height: 1.4;
}

section.flow {
  @extend .grid-container;
  @extend .full;
  @text-align: center;

  
}

section.flow article {
  @include flow-block;

  padding: 1rem;

  a {
    font-family: sans-serif;
    font-style: normal;
    font-weight: bold;      
  }

  figure {
    figcaption {
      display: none;
    }
  }

  figure,
  .text {
    margin-right: 1rem;

    &:last{
      margin-right: 0;
    }
  }
  
  &.normal {
    img {
      width: auto;
      height: 30vh;
      max-height: 30vh;
    }
  }

  &.big {
    @include flow-block-figure(100%, auto);
  }

  &.huge {
    @include flow-block-figure(100%, auto);
  }

  &.auto-heigh {
    height: auto;
  }

  &.text-and-pic {
    @extend .grid-x;
    flex-wrap: wrap;

    @include breakpoint(medium) {
      flex-wrap: nowrap;      
    }
    
    .text {
      @extend .cell;
      @extend .small-12;
      @extend .medium-6;

      @extend .small-order-2;
      @extend .large-order-1;
    }

    figure {
      @extend .cell;
      @extend .small-12;
      @extend .medium-6;


      @extend .small-order-1;
      @extend .large-order-2;
    }

    &.large-reverse-order {
      .text {
        @extend .large-order-2;        
      }

      figure {
        @extend .large-order-1;
      }
    }

    &.medium-reverse-order {
      .text {
        @extend .medium-order-2;        
      }

      figure {
        @extend .medium-order-1;
      }
    }    
    
    &.reverse-order {
      .text {
        @extend .small-order-1;
        @extend .large-order-2;        
      }

      figure {
        @extend .small-order-2;
        @extend .large-order-1;        
      }
    }
  }

  //
  // text with many pics
  //
  &.text-with-many-pics {
    display: flex;
    width: 100vw;
    max-width: none;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: scroll;

    position: relative;

    .text {
      flex: 0 0 75vw;
      order: 1;

      @include breakpoint(medium) {
        flex: 0 0 50vw;
      }
    }

    figure {
      order: 2;
      
      flex: 0 0 auto;

      @include breakpoint(medium) {
        flex: 0 0 50vw;
      }

      &:last-of-type {
        padding-right: 0.625rem;
      }

      img {
        width: 100vw;
        heigth: auto;
      }
    }

    &:after {
      content: "🡽🡺🡾";
      position: absolute;
      right: 0;
      opacity: 0.5;
      color: white;
      text-shadow: 5px 5px 10px red, -5px -5px 10px red;      

      top: 50%;
      transform: translateY(-50%);

      font-size: xx-large;
      width: 2rem;
      line-height: 1;
      word-wrap: anywhere;

      margin-right: 0.5rem;        

      @include breakpoint(medium) {
        margin-right: 1rem;        
      }
    }
    
  }


  
  &.text-large {
    @include text-large;
  }

  &.medium-text-large {
    @include breakpoint(medium) {
      @include text-large;
    }
  }

  &.text-x-large {
    @include text-x-large;
  }

  &.text-xx-large {
    @include text-xx-large;            
  }

  &.medium-text-xx-large {
    @include breakpoint(medium) {
      @include text-xx-large;            
    }
  }

  &.font-serif {
    font-family: serif;
  }

  &.font-bold {
    font-weight: bold;
  }

  &.font-italic {
    font-style: italic;
  }

  &.figure-width-100 {
    figure {
      @include breakpoint(medium) {
        flex: 0 0 100vw;
      }              
    }
  }

  p {
    &:last-of-type {
      margin-bottom: 0;
    }
  }
}


//
// custom styles per block
//
section.flow article {
  &.whph-side-affects {
    font-family: "AsimovOu";
    font-size: 8vh;
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
  }

  &.perplexed-scpecies-manifesto {

    font-family: "AsimovIt";
    font-size: x-large;
    text-align: left;
    padding-left: 1rem;
    padding-right: 1rem;

    @include breakpoint(medium) {
      font-size: xxx-large;
    }
    
    p {
      line-height: 1;
    }
  }

  &.dzina-zhuk-norbergfestival {
    p {
      font-family: serif;
      font-style: italic;
      font-weight: bold;      
    }

  }
  
  &.mystery-covered-with-the-darkness {
    h1 {
      font-family: serif;
      font-weight: bold;
    }
    
    p {
      font-family: arial;
      font-weight: bold;
    }

    .v1 {
      font-family: "InputMonoBlackItalic";
      font-size: xx-large;
    }

    .v2 {
      font-family: sans-serif;
    }

    .v3 {
      font-family: "PhosphateInline";
    }
  }

  &.obey-ne-robey-at-better-than-dior {
    h1 {
      font-family: serif;
      font-weight: bold;
      font-style: initial;
      font-size: xxx-large;      
    }

    p {
      font-size: xx-large;
      font-style: italic;
    }
  }

  &.kiev-holed-futurism {
    .text {
      h1 {
        text-transform: none;

        @include breakpoint(large) {
          font-size: 3rem;
        }
      }
      
      a {
        font-family: "AsimovOu";
        color: currentColor;
        text-decoration: underline;

        &.symposium-link {
          font-family: serif;
          text-transform: lowercase;
          font-style: italic;
          font-weight: bold;
        }
      }
    }
  }
}
