@mixin flow-block-figure($width, $height) {
  figure {
    img {
      width: $width;
      height: $height;
    }
  }
}

section.flow {
  @extend .grid-container;
  @extend .fluid;
  @text-align: center;

  .block {

    color: white;

    // USE XY GRID
    @extend .grid-x;
    @extend .grid-margin-x;

    padding-top: 1rem;
    padding-bottom: 1rem;

  }

  .normal {
    img {
      width: auto;
      height: 30vh;
      max-height: 30vh;
    }
  }

  .big {
    @include flow-block-figure(60vh, auto);
  }

  .huge {
    @include flow-block-figure(100vh, auto);
  }

  .auto-heigh {
    height: auto;
  }

  .text {
    @extend .cell;
    @extend .small-12;
    @extend .large-auto;

    @extend .small-order-2;
    @extend .large-order-1;


  }


  p {
    &:last-of-type {
      margin-bottom: 0;
    }
  }

  figure {
    @extend .cell;
    @extend .small-12;
    @extend .large-shrink;


    @extend .small-order-1;
    @extend .large-order-2;

    figcaption {
      display: none;
    }
  }
}


//
// custom styles per block
//
section.flow {
  .whph-side-affects {
    font-family: "AsimovOu";
    font-size: 8vh;
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
  }

  .perplexed-scpecies-manifesto {
    font-size: 8vh;
    text-align: center;
  }
}
