
@font-face {
  font-family: "pt-serifitalic";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/PTSerifItalic.ttf");
}

@font-face {
  font-family: "AsimovXWid";
  src: url("../fonts/AsimovXWid.otf");
  /* src: local("☺"), */
  /*   url("type/filename.woff") format("woff"), */
  /*   url("type/filename.otf") format("opentype"), */
  /*   url("type/filename.svg#filename") format("svg"); */
}

@font-face {
  font-family: "Asimov";
  src: url("../fonts/Asimov.otf");
  /* src: local("☺"), */
  /*   url("type/filename.woff") format("woff"), */
  /*   url("type/filename.otf") format("opentype"), */
  /*   url("type/filename.svg#filename") format("svg"); */
}

@font-face {
  font-family: "AsimovIt";
  src: url("../fonts/AsimovIt.otf");
  /* src: local("☺"), */
  /*   url("type/filename.woff") format("woff"), */
  /*   url("type/filename.otf") format("opentype"), */
  /*   url("type/filename.svg#filename") format("svg"); */
}

@font-face {
  font-family: "AsimovOu";
  src: url("../fonts/AsimovOu.otf");
  /* src: local("☺"), */
  /*   url("type/filename.woff") format("woff"), */
  /*   url("type/filename.otf") format("opentype"), */
  /*   url("type/filename.svg#filename") format("svg"); */
}

@font-face {
  font-family: "AsimovNarOuIt";
  src: url("../fonts/AsimovNarOuIt.otf");
  /* src: local("☺"), */
  /*   url("type/filename.woff") format("woff"), */
  /*   url("type/filename.otf") format("opentype"), */
  /*   url("type/filename.svg#filename") format("svg"); */
}

@font-face {
  font-family: "InputMonoMedium";
  src: url("../fonts/InputMono-Medium.ttf");
  /* src: local("☺"), */
  /*   url("type/filename.woff") format("woff"), */
  /*   url("type/filename.otf") format("opentype"), */
  /*   url("type/filename.svg#filename") format("svg"); */
}

@font-face {
  font-family: "InputMonoBlack";
  src: url("../fonts/InputMono-Black.ttf");
  /* src: local("☺"), */
  /*   url("type/filename.woff") format("woff"), */
  /*   url("type/filename.otf") format("opentype"), */
  /*   url("type/filename.svg#filename") format("svg"); */
}

@font-face {
  font-family: "InputMonoBlackItalic";
  src: url("../fonts/InputMono-BlackItalic.ttf");
  /* src: local("☺"), */
  /*   url("type/filename.woff") format("woff"), */
  /*   url("type/filename.otf") format("opentype"), */
  /*   url("type/filename.svg#filename") format("svg"); */
}

@font-face {
  font-family: "PhosphateInline";
  src: url("../fonts/Phosphate-Inline.eot");
  /* src: local("☺"), */
  /*   url("type/filename.woff") format("woff"), */
  /*   url("type/filename.otf") format("opentype"), */
  /*   url("type/filename.svg#filename") format("svg"); */
}




@font-face {
  font-family: "OpenSansRegular";
  src: url("../fonts/OpenSans-Regular.ttf");
  /* src: local("☺"), */
  /*   url("type/filename.woff") format("woff"), */
  /*   url("type/filename.otf") format("opentype"), */
  /*   url("type/filename.svg#filename") format("svg"); */
}

@font-face {
  font-family: "PTSansWebRegular";
  src: url("../fonts/PT_Sans-Web-Regular.ttf");
  /* src: local("☺"), */
  /*   url("type/filename.woff") format("woff"), */
  /*   url("type/filename.otf") format("opentype"), */
  /*   url("type/filename.svg#filename") format("svg"); */
}
