section.psychodata {
   /* background-image: url("/images/psychodata/bg.png"); */
   /* background-size: cover; */
   /* background-position: 50% 50%; */

  h1 {
    color: white;

    color: white;
    text-shadow: 0.2rem 0.2rem aqua;
    font-size: 2rem;

    @include breakpoint(medium) {
      text-shadow: 0.5rem 0.5rem aqua;
      font-size: 4rem;
    }

  }

  .media {
    margin-top: rem-calc(36px);

    .column {
      margin-bottom: rem-calc(36px);
      &:last-of-type {
        margin-bottom: 0;
      }
    }

    img {
      width: 100%;
      min-width: 100%;
    }
  }
}
