@mixin big-text {
  h1 {
    font-family: "AsimovOu";
    font-size: 10vw;
    
    text-shadow: 0px 0px 20px gold;
  }

  h2 {
    font-family: "AsimovXWid";
    font-size: 7vw;
    color: white;
    
  }

  a {
    color: white;
    text-decoration: underline;

    &:hover {
      color: aqua;
      text-decoration: line-through;
      background-color: aqua;
    }
  }
  
  p, ol, h1 {
    @extend .small-12;
    @extend .columns;
    @extend .end;

    color: white;
  }

  p, ol {
    font-size: 18px;

    @include breakpoint(medium) {
      font-size: 36px;
    }

    strong {
      font-family: "AsimovOu";
    }    
  }

  li {
    list-style-position: inside;
  }

  code {
    background-color: #dab8b87d;
    font-family: inherit;
    color: white;
    border: 0;

  }
}

@mixin normal-text {
  font-size: 16px;

  @include breakpoint(medium) {
    font-size: 18px;
  }

  color: white;

  code {
    background-color: #dab8b87d;
    font-family: inherit;
    color: white;
    border: 0;
  }
}

//
//
// NAV MIXINS
//
//

@mixin nav-mask($index) {
  mask-image: url("/images/traffic-loop/nav-masks/nav-" + $index + "-mask.svg");
}

@mixin nav-clip($index) {
  clip-path: url("#clipPolygon-" + $index + "");
  -webkit-clip-path: url("#clipPolygon-" + $index + "");
}

@mixin nav-el-size($width, $height, $add: 0) {
  width: 150px + $add;
  height: 225px + $add;
  padding-top: $add/2;
  padding-left: $add/2;
}

@mixin nav-el-pulse-keyframes {
  0% {
    transform: scale(1);
  }
  70% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }

}

@-webkit-keyframes nav-el-pulse {
  @include nav-el-pulse-keyframes;
}
@keyframes nav-el-pulse {
  @include nav-el-pulse-keyframes;
}

//
//
// END NAV MIXINS
//
//

//
//
// HOME BUTTON
//
//
.back-to-home {
  &.traffic-loop-1,
  &.traffic-loop-2,
  &.traffic-loop-2-user-1,
  &.traffic-loop-2-user-2,
  &.traffic-loop-2-user-3,
  &.traffic-loop-2-user-4,
  &.traffic-loop-2-user-5 {
   @include home-button-color(#F161FC, #F6F6F6); 
  }
}

//
//
// NAVIGATION
//
//
.tl-clipping-masks {
  position: absolute;
  top: 0;
  left: 0;
}

a.nav.traffic-loop {
  position: fixed;
  z-index: 10000;
  width: auto;
  height: auto;

  transform: scale(0.4);

  @include breakpoint(medium) {
    transform: scale(0.7);
  }

  @include breakpoint(large) {
    transform: scale(1);
  }

  .nav-el {
    @include nav-el-size(150px, 225px, 50px);

  }

  .shadow {
    @include nav-el-size(150px, 225px, 50px);

    position: absolute;    
    top: 0;
    left: 0;

    padding: 0;
    
    
    svg {
      @include nav-el-size(150px, 225px, 50px);

      padding: 0;

      use {
        fill: aqua;
      }
    }
  }


  &,
  img,
  // .shadow,
  .hover {
    &.nav-1 {
      @include nav-clip(1);
    }
    &.nav-2 {
      @include nav-clip(2);
    }
    &.nav-3 {
      @include nav-clip(3);
    }
    &.nav-4 {
      @include nav-clip(4);
    }
  }

  .hover {
    background-image: linear-gradient(-90deg, #F161FC 0%, #F6F6F6 100%);
    position: absolute;    
    top: 25px;
    left: 25px;    
  }


  img {
    &:hover {
      opacity: 0;
    }
  }
}


section.traffic-loop {
  background-image: linear-gradient(-90deg, #F161FC 0%, #F6F6F6 100%);
  // height: 100%;
  min-height: 100%;
  @extend .row;
  @extend .expanded;

  .bkg {
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    &.pink {
      background-image: linear-gradient(-90deg, #F161FC 0%, #F6F6F6 100%);
    }

    &.blue {
      background-image: linear-gradient(90deg, #0022FF 0%, #FFFFFF 100%);
      mix-blend-mode: darken;
    }
  }

  .overlay {
    z-index: 200;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    &.bkg {
      z-index: 199;
      background-image: linear-gradient(-90deg, #0022FF 0%, #FFFFFF 100%);
      mix-blend-mode: lighten;
    }

    h1 {
      @include absolute-center;
    }

    .video-container {
      @include absolute-center;
      width: 60%;
      height: auto;

      padding: 1rem;

      background-image: linear-gradient(90deg, #DE6CE5 0%, #FFFFFF 100%);

    }
    .video {
      @extend .responsive-embed;
      @extend .widescreen;

      margin-bottom: 0;
    }
  }

  //
  //
  // LAYER 1
  //
  //
  &.layer-1 {
    background: none;

    .bkg {
      position: fixed;
      z-index: -1;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;

      &.pink {
        background-image: linear-gradient(-90deg, #F161FC 0%, #F6F6F6 100%);
        // mix-blend-mode: lighten;
      }

      &.blue {
        background-image: linear-gradient(90deg, #0022FF 0%, #FFFFFF 100%);
        mix-blend-mode: darken;
      }
    }

    article {
      @extend .small-12;
      @extend .medium-10;
      @extend .large-6;
      @extend .columns;
      @extend .end;
      @extend .medium-offset-1;
      @extend .large-offset-3;

      @include normal-text;

      padding-top: 2rem;
      padding-bottom: 2rem;
    }
  }


  //
  //
  // LAYER 2
  //
  //
  &.layer-2 {
    padding-top: 1rem;

    figure {
      @extend .small-12;
      @extend .medium-9;
      @extend .columns;
      @extend .end;

      position: relative;
      margin-bottom: 2rem;

      @include breakpoint(medium) {
        margin-bottom: 4rem;
      }

      &:last-of-type {
        margin-bottom: 1rem;

        @include breakpoint(medium) {
          margin-bottom: 2rem;
        }
      }

      &:nth-of-type(odd) {
        @extend .medium-offset-2;
      }


      svg {
        mix-blend-mode: screen;

        position: absolute;
        top: 0;
        left: 0;

        padding: inherit;

        box-shadow: none;
        z-index: 99;

        width: 100%;
        height: auto;

        .screen {
          cursor: pointer;

          &:hover {
            fill: blue;
          }
        }
      }

      img {
        // box-shadow: 0.3rem 0.3rem 0px white;
        box-shadow: 0rem 0rem 30px blue;

        @include breakpoint(medium) {
          box-shadow: 0rem 0rem 30px blue;
        }
      }
    }

  }

  &.layer-2.user {
    background: none;

    article {
      @include big-text;

      p:last-of-type {
        padding-bottom: 100%;
      }

    }

    &.small-video-container {

      position: fixed;
      height: auto;
      left: 0;
      right: 0;
      bottom: 0;

      min-height: 0;

      // padding-right: 0.625rem;
      // padding-left: 0.625rem;

      .video {
        @extend .responsive-embed;
        @extend .widescreen;

        margin-bottom: 0;
      }
    }

    .video-container {
      // width: 40%;             
      // transform: translate(-30%,-10%);

      position: fixed;
      right: 0;
      bottom: 0;

      // padding: 1rem;
      // background-color: white;

      .video {
        // @extend .responsive-embed;
        // @extend .widescreen;
        
        margin-bottom: 0;
      }
    }
  }

  &.layer-3 {
    background: none;

    article {
      @extend .row;
      @extend .expanded;      
      
      @include big-text;
    }

    .overlay.scheme {
      mix-blend-mode: hard-light;

      pointer-events: none;      
    }

    .scheme-container {

      @include absolute-center;
      width: 100%;
      height: 100%;

      padding: 1rem;
      margin: 0;

      background-image: none;

      text-align: center;

      
      svg {
        box-shadow: none;
        width: 100%;
        height: 100%;

      }
    }
  }
}
