//
// disable all video subtitles inside of video frame
//
video::cue {
  opacity: 0;
}

//
// SUBTITLES
//
.subtitle-box {
  z-index: 1000000;

  font-size: 10vh;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  color: gold;
  text-shadow: darkblue 1px 0 10px;
}


//
//
// DEFAULTS
//
//
.erosion {
  &.erosion-video {
    width: 640px;
    height: 380px;
  }

  &.erosion-text {
    width: 70vw;
    height: auto;
  }
}


@import "erosion-machine/_watchdog.scss"
