---
title: "smart for whom?"
hideLangSwitch: true
pdfUrl: "https://berlinergazette.de/wp-content/uploads/AI-and-Political-Participation-in-the-Smart-City_EEEFFF.pdf"
template: "templates/pdf-text.slim"
---
