//
//
// assemblage water-in-office-assemblage
//
//


//
//
// video water-in-office-01-video
//
//
.erosion.water-in-office-01-video {
  border: 5px solid #979797;
  box-shadow: 200px 200px 50px 0 rgba(29,247,81,1);
}



//
//
// video water-in-office-02-video
//
//
.erosion.water-in-office-02-video {
  box-shadow: 30px 40px 30px 0 rgba(29,247,81, 1);
}



//
//
// text water-in-office-text-01
// nest of absence
//
//
.erosion.water-in-office-text-01 {
  font-family: BlackoakStd;
  width: 100vw;
  font-size: 6vh;
  color: #1DF751;
  text-align: left;
}



//
//
// text water-in-office-text-02
// interface cannibalism
//
//
.erosion.water-in-office-text-02 {
  font-family: BodoniOrnaments;
  font-size: 10vh;
  width: 100vw;
  color: #1DF751;
  text-align: left;
}
