---
title: Хореография Хакатона
og_image_url: /images/hackathon-choreography/og-image.jpg
template: templates/hackathon-choreography.slim
---
= markdown(include_file "ru/projects/_hackathon-choreography.md")
