---
title: "Дырявый Футуризм"
pdfUrl: "/data/eeefff-holed-futurism-ru.pdf"
template: "templates/holed-futurism.slim"
picCaptionKiev: "Дырявый футуризм под Киевом / 2019"
picCaptionMoscowZil: "Дырявый футуризм в ДК ЗИЛ в Москве / 2019"
---
