section.prepare-to-synchronize-model {
  background-color: lightgrey;
  width: 100%;
  min-height: 100%;
  position: relative;

  .scene-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .scene {
      perspective: 0px;
      z-index: -1;

      x-model {  
        width: 100vw;
        height: 100vh;

        @include breakpoint(medium) {
          width: 80vw;
          height: 80vh;          
        }

        animation: 10s spin linear infinite;
      }
    }
  }

  @keyframes spin {
    to {
      transform: rotateY(1turn);
    }
  }  
}

.prepare-to-synchronize-model-iframe {
  border: none;
  position: fixed;
  top: 0;
  bottom: 50%;
  width: 100%;
  height: 100%;
  left: 0;  
}

section.prepare-to-synchronize {
  @extend .grid-x;
  @extend .grid-margin-x;
  
  min-height: 100%;
  max-width: 100%;
  
  z-index: 0;
  background-color: lightgrey;
  
  
  article {
    @extend .cell;
    @extend .small-12;
    @extend .medium-8;
    @extend .large-6;
    @extend .medium-offset-2;
    @extend .large-offset-3;

    z-index: 1;

    margin-top: 2rem;

    @include breakpoint(medium) {
      margin-top: 4rem;
    }

    p {
      
    }

    em,
    strong,
    b {
      background-color: white;
      
    }

    em {
      font-style: inherit;
    }

    figure {

      margin-bottom: 2rem;

      img {
        border: white 0.5rem solid;
        align-self: center;
      }
      
      &.head-pictures {
        @extend .grid-x;

        img {
          @extend .cell;
          @extend .small-12;
          @extend .medium-6;

        }
      }
    }
  }
}
