---
title: expedition trough it infrastructure
customHead: "en/projects/_expedition-through-it-infrastructure-research-head.html.raw"
---

| $includeFile("en/projects/_expedition-through-it-infrastructure-research-body.html.raw")$
