---
title: "Holed Futurism"
pdfUrl: "/data/eeefff-holed-futurism-en.pdf"
template: "templates/holed-futurism.slim"
picCaptionKiev: "Holed Futurism near Kiev / 2019"
picCaptionMoscowZil: "Holed Futurism in DK ZIL in Moscow / 2019"
---
