---
title: PLATFORM PERPLEX
og_image_url: /images/platform-perplex/og-image.jpg
template: templates/platform-perplex.slim
soundcloud_id: "382518095%3Fsecret_token%3Ds-s8D0W"
---
= markdown(include_file "en/projects/_platform_perplex_poetry.md")
