---
title: PLATFORM PERPLEX
og_image_url: /images/platform-perplex/og-image.jpg
template: templates/platform-perplex.slim
soundcloud_id: "385978682"
---
= markdown(include_file "en/projects/_platform_perplex_poetry.md")
