---
title: "Человек, работающий человеком в эпоху машинного обучения"
hideLangSwitch: true
pdfUrl: "https://prostory.net.ua/ua/mlp/literatura/175-chelovek-rabotayushchij-chelovekom-v-epokhu-mashinnogo-obucheniya"
template: "templates/pdf-text.slim"
---
