---
title: ПЕРПЛЕКС ПЛАТФОРМ
og_image_url: /images/platform-perplex/og-image.jpg
template: templates/platform-perplex.slim
soundcloud_id: "382518095"
description_1: "Сеанс эмоциональных вычислений, радикальной интимности и солидарности с водителями убера – рабочими этой платформенной экономики"
description_2: "Вызовите убер за 10-15 минут до начала сеанса. Удобные велюровые сиденья недорогой иномарки, взятой в аренду водителем такси – лучшее место для прослушивания сеанса. Включите аудиозапись. Сеанс продлится 15 минут."
---

= markdown(include_file "ru/projects/_platform_perplex_instructions.md")
