<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    $partial("templates/header.html")$
  </head>
  <body>
    <input type="hidden" id="lang" name="lang" data-lang="$lang$"/>
    <input type="hidden" id="revision" name="revision" data-revision="$revision$"/>

    $if(hideLangSwitch)$
    $else$
    <a class="lang-switch $canonicalName$" href="$otherLangUrl$">
      $otherLang$
    </a>
    $endif$

    $if(hideMenu)$
    $else$
    <a class="back-to-home $canonicalName$" href="$root_url$">
      <svg version="1.1" id="Слой_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
           viewBox="-58 97 32 32" style="enable-background:new -58 97 32 32;" xml:space="preserve">
        <title>back-to-home</title>
        <desc>Created with Sketch.</desc>
        <g id="Page-1">
          <g id="back-to-home">
            <path id="_xD809__xDC72_" d="M-35.3,110.3c0.9,3.2,2.3,6.4,4,9.8c1.8,3.4,3.5,6,5.3,7.6l-1.2,1.2c-1.8-1.8-4.4-3.6-7.7-5.3
                      c-3.3-1.7-6.6-3-9.8-4c1.7-1.1,3.3-2.5,5-4.2C-38.1,113.9-36.6,112.1-35.3,110.3z M-48.6,97c0.9,3.1,2.2,6.3,4,9.7
                      c1.8,3.4,3.5,6,5.3,7.8l-1.1,1.1c-1.9-1.9-4.5-3.6-7.8-5.3c-3.3-1.7-6.6-3-9.8-4c1.8-1.2,3.6-2.7,5.3-4.5
                      C-51,100.1-49.6,98.5-48.6,97z"/>
          </g>
        </g>
      </svg>
    </a>
    $endif$

    <!-- <div id="main-app"></div> -->
    $body$
    <!-- <script type="text/javascript">
         jQuery(document).foundation();
         </script> -->
    <!-- <script>
         eeefff_org_website.core.init();
         </script> -->
     <script>
     (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
       (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                              m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
     })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

     ga('create', 'UA-76397130-1', 'auto');
     ga('send', 'pageview');

    </script>
  </body>
</html>
