<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1"/>

<meta property="og:title" content="EEEFFF | $title$"/>

$if(og_image_url)$
<meta property="og:image" content="$og_image_url$">
$endif$

<title>EEEFFF.ORG - $title$</title>

$if(customHead)$
$includeFile(customHead)$
$endif$

<link href="/css/app.css?$revision$" rel="stylesheet" type="text/css"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/motion-ui/1.1.1/motion-ui.min.css" />
<link href="/css/erosion-machine-timeline.css?$revision$" rel="stylesheet" type="text/css"  />


<script type="text/javascript" src="/js/vendor/jquery.js"></script>
<script type="text/javascript" src="/js/vendor/jquery.mobile.custom.min.js"></script>
<script type="text/javascript" src="/js/vendor/jquery.visible.min.js"></script>
<script type="text/javascript" src="/js/vendor/jquery-deepest.js"></script>
<script type="text/javascript" src="/js/vendor/modernizr.js"></script>
<script type="text/javascript" src="/js/vendor/mobile-detect.min.js"></script>
<script type="text/javascript" src="/js/vendor/mobile-detect-modernizr.js"></script>
<script type="text/javascript" src="/js/vendor/what-input.js"></script>
<script type="text/javascript" src="/js/vendor/motion-ui.min.js"></script>
<script type="text/javascript" src="/js/vendor/foundation.min.js"></script>
<script type="text/javascript" src="/js/vendor/foundation.orbit.js"></script>
<script type="text/javascript" src="/js/vendor/lodash.min.js"></script>
<script type="text/javascript" src="/js/vendor/d3-queue.js"></script>
<script type="text/javascript" src="/js/app.js?$revision$"></script>
<!-- <script type="text/javascript" src="/js/compiled/out/main.js?$revision$"></script> -->
