<div class="index">
  <header class="teaser">
    <h1 class="">
      EEEFFF.ORG
    </h1>
  </header>

  <section class="toc-wrapper hidden">
    <ul class="toc">
      <li>
        <a href="https://paranoiapp.net">paranoiapp</a>
      </li>
      <li>
        <a href="/projects/cat-scout.html">Cat scout</a>
      </li>
      <li>
        <a href="/projects/obj.html">OBJ</a>
      </li>
      <li>
        <a href="/projects/psychodata.html">psychodata</a>
      </li>
      <li>
        <a href="/projects/blockade.html">Plan der Wohnung von Herrn Kuharski</a>
      </li>
      <li>
        <a href="/projects/weissensee.html">Weissensee Lake advertisement</a>
      </li>
      <li>
        <a href="/projects/strawberry.html">Strawberry beach</a>
      </li>
      <li>
        <a href="/projects/mobile-agitator.html">Mobile agitator</a>
      </li>
    </ul>
  </section>
</div>
