<div class="index">
  <header class="teaser">
    <h1 class="">
      EEEFFF.ORG
    </h1>
  </header>

  <section class="toc-wrapper hidden">
    <ul class="toc">
      <li>
        <a href="http://myfutures.trade/" target="blank">myfutures.trade</a>
      </li>
      <li>
        <a href="http://scc.eeefff.org/" target="blank">Speculative Computer Club</a>
      </li>
      <li>
        <a href="http://workhardplay.pw/" target="blank">Work Hard! Play Hard!</a>
      </li>
      <li>
        <a href="/projects/picnic-near-data-center.html">Picnic Near Data Center</a>
      </li>
      <li>
        <a href="/projects/expedition-through-it-infrastructure.html">Expedition through IT infrastructure</a>
      </li>
      <li>
        <a href="https://paranoiapp.net">paranoiapp</a>
      </li>
      <li>
        <a href="/projects/cat-scout.html">Cat scout</a>
      </li>
      <li>
        <a href="/projects/obj.html">OBJ</a>
      </li>
      <li>
        <a href="/projects/psychodata.html">psychodata</a>
      </li>
      <li>
        <a href="/projects/fleeting-coop.html">Fleeting Cooperation</a>
      </li>
      <li>
        <a href="/projects/blockade.html">Plan der Wohnung von Herrn Kuharski</a>
      </li>
      <li>
        <a href="/projects/weissensee.html">Weissensee Lake advertisement</a>
      </li>
      <li>
        <a href="/projects/strawberry.html">Strawberry beach</a>
      </li>
      <li>
        <a href="/projects/mobile-agitator.html">Mobile agitator</a>
      </li>
    </ul>
  </section>

  <section class="contact-email">
    <a href="mailto:eeefff.org@gmail.com">eeefff.org@gmail.com</a>
  </section>
</div>
